---
# Container info
- descriptor: "pip-services-container:container-info:default:default:*"
  name: "pip-vault-us1-alpha"
  description: "Client facade for Pip.Vault US1"

# Console logger
- descriptor: "pip-services-commons:logger:console:default:*"
  level: trace

# Log counters
- descriptor: "pip-services-commons:counters:log:default:*"

# Discovery service
- descriptor: "pip-services-commons:discovery:memory:default:*"
#  mongodb: uri=mongodb://dls:0SJScEQ1js9cHC5K@pip-devs-test-shard-00-00-qlytb.mongodb.net:27017,pip-devs-test-shard-00-01-qlytb.mongodb.net:27017,pip-devs-test-shard-00-02-qlytb.mongodb.net:27017/test?ssl=true&replicaSet=pip-devs-test-shard-0&authSource=admin&readPreference=secondary
  mongodb: uri=mongodb://localhost:27017
  
# Credential store
- descriptor: "pip-services-commons:credential-store:memory:default:*"
  mongodb: username=;password=

########### Content management components ###########

# Credit Cards components
- descriptor: "pip-services-creditcards:persistence:mongodb:default:*"
  connection:
    discovery_key: mongodb
- descriptor: "pip-services-creditcards:controller:default:default:*"
- descriptor: "pip-services-creditcards:client:direct:default:*"

################ REST API Routes ##############

# Main facade service
- descriptor: "pip-services:facade-service:default:default:*"
  root_path: ""
  connection:
    protocol: "http"
    host: "0.0.0.0"
    port: 8080
  options:
    debug: true
    maintenance_enabled: false
    max_req_size: "1mb"

# Version 1 facade service
- descriptor: "pip-services-facade:service:test:api-1.0:*"
  root_path: "/api/1.0"

- descriptor: "pip-facade-ecommerce:operations:creditcards:default:1.0"
